
### Emacs ###
*~
\#*\#

### Java & co ###
.classpath
.gradle
.project
.settings/
.idea/
.kotlintest/
spring-shell.log
bin/
build/
builds/
cache/
out/
target/
spring-shell.log
**/.vscode
**/__pycache__**.log
**/*.iml
**/core.*
**/hs_err_pid*
**/*.pyc

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
